 /* inspirtation 
    https://codepen.io/mlms13/pen/LKFoy
 */
 body {
    /* overflow-x: hidden; */
  }
  .letter {
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
   }
   .letter:before, .letter:after {
     content: "";
     height: 98%;
     position: absolute;
     width: 100%;
     z-index: -1;
   }
   .letter:before {
     background: #fafafa;
     box-shadow: 0 0 8px rgba(0,0,0,0.2);
     left: -5px;
     top: 4px;
     transform: rotate(-2.5deg);
   }
   .letter:after {
     background: #f6f6f6;
     box-shadow: 0 0 3px rgba(0,0,0,0.2);
     right: -3px;
     top: 1px;
     transform: rotate(1.4deg);
   }
 
 @media only screen and (max-width: 400px) {
   .letter:before {
     background: #fafafa;
     box-shadow: 0 0 0 rgba(0,0,0,0.2);
     left: 0;
     top: 0;
     transform: none;
   }
   .letter:after {
    background: #f6f6f6;
     box-shadow: 0 0 0 rgba(0,0,0,0.2);
     right: 0;
     top: 0;
     transform: none;
  }
   .div-w-image {
     display: none;
   }
   .div-w-title {
     width: 100% !important;
   }
   .exp-ul-bullets {
     display: none;
   }
 }